#rec-header {
    position: relative;
    width: 80%;
    margin: 0 auto;
    color: teal;
    text-align: center;
}


#rec-pictures {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.rec-header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#left-column {
    position: relative;
    width: 45%;
    margin-left: 2rem;
    float: left;
}

#right-column {
    position: relative;
    float: right;
    width: 45%;
}




.rec-content-text {
    color: slategrey;
    font-size: 18px;
}




.rec-header {
    
    color: teal;
}


.to-hide {
    display: block;
}

.clear {
    float: none;
}

.rec-title {
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 8px;
   
}

#rec-title {
    position: relative;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.tag {

}

ol {
    list-style-type: upper-roman;
  }

