h1 {
   
    
}

#centre {
    position: relative;
    margin-left: 10em;
}

.greentext {
    color: seagreen;
}

.redborder {
    border: steelblue;
    border-style: solid;
}

.div1 {
    position: relative;
    margin-left: 5em;
}







